# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Local databases
*.db
*.sqlite3
college.db

# Environment variables
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/

# OS specific
Thumbs.db
.DS_Store
